*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bin
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/public/assets/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.rvmrc
.ruby-version
*.swp
*.swo
.idea/*
config/database.yml
public/uploads/
.DS_Store
Procfile.dev
Guardfile
.guard_history
/tags
/app/assets/images/mega-*.png
/app/assets/images/mega_*.png

